@tailwind base;
@tailwind components;
@tailwind utilities;

#video-container {
  position: fixed;
  top:0;
  left: 0;
  /* bottom: auto; */
  width: 100%;
  height: 100%;
  z-index: -1;
  object-position: center;
  object-fit: cover;
  opacity: 0.8;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 30px;
  margin-bottom: 200px;
}

h2 {
  font-weight: 700;
}

.h-50 {
  height: 100px;
}

.w-80 {
  width: 150px;
}

p {
  padding-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.npo-list-container {
  display: flex;
  /* flex-direction: row;  */
  /* flex-wrap: wrap;  */
  /* flex-flow: row nowrap; */
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  width: 100vw;
  height: fit-content;
  gap: 30px;
}

.text-center {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 50px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} 
